*{
    box-sizing: border-box;
}
html{
    font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
    scroll-behavior: smooth;
}

body{
    margin:0px;
}
main{
    margin-top:80px;
}
img{
    max-width: 100%;
    max-height:100%;
    display:block;
} 
/*Stylying for the header*/
#header{
    margin-top:0px;
    height:530px;
    background-image:url("file:///E:/Projects/Website/img/bg-1.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position-y: 50%;
    display:table;
    background-attachment: fixed;
    width:100%;
    height:650px;
}
#header-text {
    display:table-cell;
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    color:white;

}
#header-text h1 {
    margin-top: 0;
    margin-bottom:10px;
    font-size:70px;
    text-transform:uppercase;
    text-shadow: 2px 2px black;
    font-weight:500;
}
#header-text h4{
    font-size: 25px;
    margin: 0;
    text-shadow: 1px 1px #333;
    font-weight:500;
}
/* Styling for the first and second container(set of boxes)*/
.first-row{
    padding-left: 128px;
    padding-right: 128px;
}

.row{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-right:auto;
    margin-left:auto;
}
.row div{
    border:1px #ccc solid;
    padding:0px;
    padding-bottom:40px;
    margin-top: 70px;
    margin-right:15px;
    margin-left:15px;
    width:350px; 
    background-color: #F2F2F2;
    margin-bottom:0;
    border:none;
    text-align:center;

}
.row-2 div{
    width:555px;
}
.container-header{
    padding-left:20px;
    text-align:left;
    font-size:20px;
}
.btn-link{
    border-radius:5px;
    padding: 10px 30px;
    font-size:18px;
    text-decoration: none;
    color:white;
    text-align: center;
    margin:auto;
}
#btn-green{
    background-color:green;
}
#btn-blue{
    background-color:#1686C1;
}
#btn-red{
    background-color:#852406;
}
.container-text{
    text-align:left;
    font-size:14px;
    margin:0 20px 35px;
    margin-top:15px;
}
.container-header.green{
    color:green;
}
.container-header.blue{
    color:#1686C1;
}
.container-header.grey{
    color:#666666;
}
.container-2 h2{
    text-align:center;
}
/*Services Styling*/
.services-header{
    display:flex;
    justify-content: center;
    background-image:url("file:///E:/Projects/Website/img/bg-2.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height:313px;
    margin-top:60px;
    background-position-y: 8%;
    box-sizing: border-box;
    background-attachment: fixed;
}
.services-header-text {
    text-align:center;
    width:1140px;
    margin:65px 0px 85px;
    color:white;
}
.services-header-text h1{
    text-shadow: 2px 2px #aaa;
    margin-bottom:20px;
}
.services-header-text p{
    font-size: 20px;
}
.container-3 div{
    width:260px;
}
.container-4 div{
    text-align: left;
    width:1140px;
}
h2{
    font-size:20px;
    font-weight:700;
    color: #666666;
}
.row-5{
    padding:15px;
}
.contact{
    display:flex;
    justify-content:center;
    align-content:center;
    flex-wrap: wrap;
    background-image:url("file:///E:/Projects/Website/img/bg-3.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height:578px;
    margin-top:60px;
    background-position-y: 30%;
    box-sizing: border-box;
    background-attachment:fixed;
}
.contact-form{
    display:flex;
    width:720px;
    height:355px;
    justify-content:center;
    align-content: center;
    text-align:center;
    flex-wrap: wrap;
    box-sizing:border-box;
}
.contact-header{
    width:720px;
    height:213px;
    margin-bottom:20px;
    box-sizing:border-box;
}
.contact-header h1{
    font-size:36px;
    text-shadow: 2px 2px #333;
    margin-bottom:30px;
    color:white;
    font-weight:500;
    box-sizing: border-box;
}
.contact-text{
    border-radius:5px;
    padding: 10px 30px;
    font-size:16px;
    background-color: rgba(242, 242, 242, 0.4);
    box-sizing: border-box;
}
.form-content{
    display:flex;
    justify-content:left;
    width:100%;
    height:50%;
    box-sizing:border-box;
}
.form-info {
    width:50%;
    height:100%
}
.form-info input{
    border-radius: 5px;
    width:340px;
    margin:8px 0;
    margin-right:15px;
    margin-bottom:15px;
    height:34px;
    padding:6px 12px;
    background-color:rgba(242, 242, 242, 0.4);
    border:none;
}
input {
    display:block;
}
.message-area{
    display:flex;
    align-items:flex-start;
    flex-direction: column;
    margin-top:8px;
    margin-left:15px;
    width:345px;
    box-sizing: border-box;
}
.message-text{
    padding:5px;
    border-radius:5px;
    height:132px;
    width:100%;
    background-color: rgba(242, 242, 242, 0.4);
    box-sizing:border-box;
    overflow:auto;
    border:none;
    resize:horizontal;
}
::placeholder{
    color:black;
    opacity:1;
}
.form-right button{
    font-size:18px;
    margin-top:20px;
    border-radius:10px;
    padding:10px 30px;
    color:white;
    background:#262628;
    cursor:pointer;
    border:1px solid transparent;
    border-color:#ccc;
    box-sizing: border-box;
}
.footer{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
/** Media Queries*/
@media (min-width:1200px){
    .row{
        width:1170px;
    }
}
@media (max-width:1200px) and (min-width:992px){
    .row{
        width:992px;
    }
     .row-1 div{
        width:30%;
    }
    .row-2 div{
        width:45%;
    }
    .row-3 div{
        width:21%;
    }
}
@media (max-width:992px) and (min-width:760px){
    .row{
        width:750px;
    }
    .row-1 div{
        width:29%;
    }
    .row-2 div{
        width:45%;
    }
}
@media (max-width:700px){
    input[type="text"]{
        width:200px;
        margin-left:auto;
    }
    .message-area{
        width:200px;
    }
    .contact-header{
        width:400px;
        height:auto;
    }

}







